@import "primeicons/primeicons.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeflex/themes/primeone-light.css";

.d-none{
    display:none;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}
.flex-align-center{
    display: flex;
    align-items: center;
}